/* Main.css */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .logo-box {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
    z-index: 2;
  }
  
  .logo {
    height: 80px;
    width: auto;
  }
  
  .description-box {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 24px;
    border-radius: 8px;
    text-align: left;
    margin-left: 16px;
  }
  
  .card-container {
    width: 100%;
    max-width: 400px;
    padding: 24px;
    text-align: center;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 224, 178, 0.8);
  }
  
  .card-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; /* 버튼 간 간격을 줄였습니다 */
    margin-top: 8px;
  }
  
  .button-style {
    width: 300px; /* 버튼 너비 고정 */
    height: 50px;
    border-radius: 10px;
    font-size: 1.3rem;
  }
  
  .text-field {
    margin-bottom: 16px; /* 아이디와 비밀번호 필드 간격을 줄였습니다 */
  }
  
  .alert-message {
    margin-bottom: 16px;
  }
  